*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:"roboto condensed";
   
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color:slategray;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

/*Header*/
header{
    width: 100%;
    height: 600px;
    background: #73C8A9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #454c5a, #73C8A9), url(../css/img/gdl-1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(220, 30%, 35%, 0.521), hsla(158, 44%, 62%, 0.582)), url(../css/img/gdl-1.jpg);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position:relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: azure;
    font-weight: 200;
    text-decoration: none;
    margin-right: 10px;

}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header h1{
    font-size: 80px;
    color: lightcyan;
}
.textos-header h2{
    font-size: 55px;
    font-weight: 300;
    color: lightcyan;
}
.wave{
    position: absolute;
    bottom:0;
    width: 100%;

}

.contenedor-vision h2{
    height: 10px;

    
}

.contenedor-vision h4{
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size:larger;
    height: 150px;
    font-weight: 560;
}

.contenedor-mision h2{
    height: 10px;
}

.contenedor-mision h5{
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size:larger;
    height: 150px;
    margin: 50px;
    font-weight: 560;
}

.imagen-vision{
    width: 60%;
    
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
    
}

.contenedor-problematica h2{
    height: 30px;
    margin: 50px;
    font-weight: 600;
}

.contenedor-problematica h6{
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size:larger;
    height: 100px;
    margin: 50px;
    font-weight: 560;  

}



.imagen-sobre-elevador{
    width: 48%;
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
    
}

.contenedor-solucion h5{
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size:larger;
    height: 100px;
    margin: 50px;
    font-weight: 560;  
}

.imagen-descriptiva{
    width: 55%;
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
}

.contenedor-footer h6{
    
   
    align-items: center;
    font-size:medium;
    height: 30px;
    margin: 50px;
    font-weight: 600;  
    flex-direction: column;
}

.contenedor-footer{
    width: 100%;
    background-color: darkslategrey;
    font-size: 40px;
    color: azure;

}

.video-elevador{
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
}
